
// vert header: #087F23green darken-2
// vert body: #4caf50 green
// vert footer: #81c784 green lighten-2
// jaune foncer: #ffc246
// jaune moyen : ff9100 orange accent-3
// jaune drak: #c56200


.button-connexion
{
    min-width: 300px;
    min-height: 70px;
    background: #FFC246;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 25px;
    line-height: 41px;
    
    align-items: center;
    text-align: center;
    border-radius: 40px;
    
    
    
}

.button-inscription{
    
    min-width: 200px;
    min-height: 25px;
    background: #F2994A;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    align-items: center;
    text-align: center;
    border-radius: 40px;
    padding: 0.3em;

}