<!-- <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <mat-card>
            <mat-card-content>
                <form  (ngSubmit)="onSubmit()">
                    <h2>Connexion</h2>
                    <mat-form-field>
                        <input matInput placeholder="Email" formControlName="username" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="password" placeholder="Mot de passe" formControlName="mdp" required>
                    </mat-form-field>
                    <button class="btn btn-primary"
                            type="submit" id="btn_connexion"
                            [disabled]="signInForm.invalid">Connexion
                    </button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
   -->

<div class="row">
<div class="col-sm-8 col-sm-offset-2">
    <h2>Connexion</h2>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="email">Adresse mail</label>
        <input type="text" id="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" class="form-control" formControlName="password">
    </div>
    <button class="btn btn-primary"
            type="submit" id="btn_connexion"
            [disabled]="signInForm.invalid">Connexion</button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
</div>
</div>
  