
// vert header: #087F23green darken-2
// vert body: #4caf50 green
// vert footer: #81c784 green lighten-2
// jaune foncer: #ffc246
// jaune moyen : ff9100 orange accent-3
// jaune drak: #c56200

body
{
   
    background-image: url(C:\Programmation\ProjectV\projet-vero\projet-vero-frontend\src\assets\Image\background-transparent.png);
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center; //Image toujours au cenntre de l'image 
    width: 100%;
    background-size: cover;
    
}


header
{
    
    background-color: #087F23;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
   

}

.container-nav-bar
{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    

}
section{

    margin: 30px;
    align-items: stretch;
    
    
    
    
}
nav
{
    min-width: 20px;
    background-color: #81c784;
    height: 1em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.main-container-form{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    
    align-content: center;
    max-width: 40em;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-top: 80%px;

    
}

.title-form
{
    background-color: #c56200;
    width: 100%;  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px 30px 0px 0px;
    margin-bottom: 30px;
    margin: auto;
    
    
}

h1{
    text-align: center;
    margin: auto;
    font-size: 65px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
a{
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.containeur-input-form
{   
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    align-content: center;
    
    
}

.form-input
{
    min-width: 250px;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin-bottom: 3em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input
{
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

}

.button-connexion
{
    min-width: 300px;
    min-height: 70px;
    background: #FFC246;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 25px;
    line-height: 41px;
    
    align-items: center;
    text-align: center;
    border-radius: 40px;
    
    
    
}

.button-inscription{
    
    min-width: 200px;
    min-height: 25px;
    background: #F2994A;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    align-items: center;
    text-align: center;
    border-radius: 40px;
    padding: 0.3em;

}

label{
    font-size: 30px;

}

input{
    height: 45px;
    width: 100%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #81c784;
    color: white;
    text-align: center;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1px;
    margin-top: 25px;
}

footer p {
    padding: 20px;
    text-align: center;
}