
.btn-primary.disabled, .btn-primary:disabled {
    color: black;
    background-color: grey;
    border-color: transparent;
    
}

.btn-primary {
    color: black;
    background-color: #ff9100;
    border-color: transparent;
}