


<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light ">

    
    
    <ul class="nav-list">
      <li class="nav-item">
        <a class="" routerLinkActive="active" routerLink = "/">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="" routerLinkActive="active" routerLink = "/">Historique</a>
      </li>
      <li class="nav-item">
        <a class="" routerLinkActive="active" routerLink = "/">Profil</a>
      </li>
      
    </ul>
   
</nav>


<!-- Carte des enfants  -->
<div>


<section>
  
  <div class="child-card">
    <div class="title-card">
      <h1>Enfant 3</h1>
    </div>
    <div class="profile-image">
      <img src="..\assets\Image\profil1.jpg">
    </div>
    <div class="footer-card">
      <div class="button-card">
        <span class="material-icons md-48">
          add
          </span>
      </div>
    </div>
    

  </div>
  


  <div class="child-card">
    <div class="title-card">
      <h1>Enfant 3</h1>
    </div>
    <div class="profile-image">
      <img src="..\assets\Image\profil1.jpg">
    </div>
    <div class="footer-card">
      <div class="button-card">
        <span class="material-icons md-48">
          add
          </span>
      </div>
    </div>
    

  </div>


  <div class="button-add-child">
    <span class="material-icons md-48">
      person_add
    </span>
  </div>
  
</section>

</div>
