<!-- contenu  -->
<section>
    <div class="main-container-form ">
        <div  class="title-form">
            <h1>Inscription</h1>
        </div>
        
        
        <form action="" method="get" class="containeur-input-form ">
            <div class="form-input mb-5">
                <label for="name">Email </label>
                <input type="text" name="name" id="name" required>
            </div>
            <div class="form-input">
                <label for="email">Mot de passe</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="form-input">
                <label for="email">Confirmer votre mot de passe</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="form-input" >
                <button class="button-connexion" mat-raised-button>Inscription</button>
            </div>
            <div class="form-input">
                <button class="button-inscription" mat-raised-button>Connexion</button>
            </div> 
        </form>
    
    </div>
</section>